.App {
    margin: 2em;
    line-height: 1.8em;
}

.mealOverview {
    display: flex;
    flex: 4;
}

.media {
    margin: 1.4em 0em;
}

h1 {
    letter-spacing: 4px;
    font-size: 4em;
    margin-left: 4em;
    border-bottom: 1px solid rgb(44, 44, 44);
}

.searchForm {
    margin: 1em;
}

.searchBar {
    width: 100%;
    margin: 1em 0em;
}

.todaysMeals {
    margin-left: 3em;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}